.cardWrapper
    width: 100%
    display: flex
    justify-content: center
    height: 400px
.card
    width: 302px
    height: 400px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border: 1px solid gray
    background-color: #fff
    color: black
    border-radius: 16px
    padding: 10px 0
    cursor: grab
    box-shadow: 5px 5px 5px black
    z-index: 1000
    img
        max-width: 300px
        max-height: 300px
        margin: 10px 0
    span
        text-align: center
.playedCard
    cursor: pointer
    position: relative
    &:nth-child(n+2)
        margin-left: 20px
        
.imageWrapper
        width: 300px
        height: 250px
        margin: 10px 0


.cardTitle
    font-weight: 700
.cardDescr
    height: 50px
    margin: 0 5px



.readyToDrop
    box-shadow: 5px 5px 15px green